# Object files
*.o

# Executable
mandelbrot
/frames/movieMaker
/categorize/categorize

# Images
/frames/frame*.ppm
/shapes/
/random/
/pinned/

# Root information
/frames/root_info.txt

# Category information
/categorize/categories/

# VS Code development files
.vscode/

# .DS_Store
.DS_Store